@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 12, 12, 12;
    --background-end-rgb: 12, 12, 12;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.colored-shadow {
  transform: scale(0.94);
  top: -8%;
  filter: blur(12px);
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
